.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
}

.beta-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  background: #3f474d;
  border-radius: 8px;
}

.main-header-title {
  font: var(--heading);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.main-header-title > :not(:last-child) {
  margin-right: 16px;
}

.main-header-logo {
  height: 50px;
  width: auto;
}

.main-header-subtitle {
  font: var(--main-subheading);
  text-align: center;
  color: var(--gray);
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents > :not(:last-child) {
  margin-bottom: 18rem;
}

.feature-item {
  display: flex;
  align-items: center;
}

.feature-item-right {
  flex-direction: row;
}

.feature-item-left {
  flex-direction: row-reverse;
}

.feature-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 540px;
}

.feature-info > :not(:last-child) {
  margin-bottom: 1em;
}

.feature-title {
  width: 100%;
  text-align: left;
  font: var(--display);
}

.feature-subtitle {
  width: 100%;
  text-align: left;
  font: var(--heading-small);
  color: var(--gray);
}

.help-discord {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.help-discord > :not(:last-child) {
  margin-bottom: 2em;
}

.help-discord-text {
  font: var(--heading);
}

.help-discord-text > a {
  text-decoration: underline;
  color: var(--gray);
}

.discord-logo {
  height: 120px;
  width: 106px;
}

.download-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  background-color: var(--primary);
  border-radius: 1rem;
  font: var(--heading-small);
  text-decoration: none;
}

.download-button:hover {
  background: var(--gray);
  cursor: pointer;
}
