.home {
  width: 100%;
  padding: 0 10%;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10em 0;
}

.main-header-title {
  font: var(--main-heading);
}

.main-header-subtitle {
  font: var(--main-subheading);
  text-align: center;
  color: var(--gray);
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features > :first-child {
  margin-bottom: 2em;
}

.feature-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-items > :not(:last-child) {
  margin-bottom: 10em;
}

.feature-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.feature-item > :not(:last-child) {
  margin-right: 2em;
}

.feature-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 30%;
}

.feature-title {
  margin-bottom: 1em;
  font: var(--heading);
}

.feature-subtitle {
  text-align: center;
  font: var(--heading-small);
  color: var(--gray);
}

.feature-image {
  flex: 70%;
  width: 900px;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
