.navbar {
  width: 100%;
  padding: 0 10%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--heading);
  padding: 1em;
}

.navbar-item.link :hover {
  cursor: pointer;
}

.navbar-item.small {
  font: var(--heading-small);
}

.discord-logo {
  width: 30px;
  height: auto;
}
