.body {
  font: var(--body);
}

.heading {
  font: var(--heading);
}

.description {
  font: var(--description);
}

.heading-small {
  font: var(--heading-small);
}

.heading-large {
  font: var(--heading-large);
}

.body-small {
  font: var(--body-small);
}

.legal-boilerplate {
  font: var(--legal-boilerplate);
  padding: 1.6rem 0;
}

.display {
  font: var(--display);
}

a {
  color: var(--gray);
}
