.body {
  font: var(--body);
}

.main-heading {
  font: var(--main-heading);
}

.heading {
  font: var(--heading);
}

.description {
  font: var(--description);
}

.heading-small {
  font: var(--heading-small);
}

.heading-large {
  font: var(--heading-large);
}

.body-small {
  font: var(--body-small);
}

.legal-boilerplate {
  font: var(--legal-boilerplate);
}

.display {
  font: var(--display);
}

a {
  color: var(--gray);
}
